<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="stacked">{{'Label'}}</ion-label>
    <div class="ion-chip-group">
      <ion-chip [outline]="true" *ngFor="let value of control.value">
        <ion-label>{{value}}</ion-label>
        <ion-icon name="close-circle" (click)="remove(value)"></ion-icon>
      </ion-chip>
      <ion-input
              [type]="'text'"
              [formControl]="valueInputControl"
              (keydown)="onKeydown($event)"
              [placeholder]="'Placeholder'">
      </ion-input>
    </div>
  </ion-item>
</ion-content>
